*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* css for top navbar section start**/
.nav_bar {
    background-image: linear-gradient(to right bottom, #051937, #071531, #08112b, #070b25, #05051f);
    padding: 9px 0;
    padding-left: 70px;
}

.nav_bar .navbar .navbar-nav .nav-item a{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
}

.nav_bar .navbar .navbar-nav .nav-item a:hover{
    text-decoration: none;
    color: #69D9BF;
}

.nav_bar .navbar .navbar-nav .nav-item p{
    border-bottom: 2px solid #69D9BF;
    text-transform: uppercase;
}

/* css for top navbar end**/

/* css for mid section start**/

.note-wrapper-outer{
    border: 1px solid #0C1A78;
    border-radius: 5px;
    margin: 10px 10px;
    padding: 0 0;
    flex-grow: 1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.not_title{
   background-image: linear-gradient(to right bottom, #051937, #071531, #08112b, #070b25, #05051f);
}
.not_title a{
   text-decoration: none;
   padding: 10px 15px;
   text-align: center;
}

.not_title a:hover{
   background-color: #69DADB;
   text-align: center;
   transition:.6s ease;
}
.not_title .fas{
   width: 24px;
   height: 24px;
   color: white;
}

.not_title .fas:hover{
   color: #051937;
}
.note_wrapper_inner{
    padding: 10px 0 0 0;
    box-sizing: border-box;
    height: 68vh;
}
/* css for mid section end**/

/* css for bottom navbar section start**/
 .bottom-navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(to right bottom, #051937, #071531, #08112b, #070b25, #05051f); */
    height: 0px;
    line-height: 64px;
 }

 .bottom-navbar button {
    font-weight: 600;
    font-size: 18px;
    padding: 0 12px;
    margin-right: 30px;
    background: contain;
    border:2px;
    border-radius: 50px;
    transition:all 0.3s ease-in;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -ms-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
}

.bottom-navbar button:hover{
     /*transform: rotate(270deg);
     transform-origin: scaleY(1.5);
     */transform: scale(1.1);
     box-shadow: 0px 0px 3em #000;
} 

 .bottom-navbar i{
    color: white;
    font-size: 25px;
    padding: 10px;
}

/*css for paragraph start */
.paragraph p{
    color: black;
    padding:20px 40px;
    margin: 10px 0;
    border: 1px solid #0C1A78;
    border-radius: 5px;
}
.second_box p{
    color:black
}

/*css for paragraph end */


/* css for bottom navbar section end**/


/*CSS START FOR FOOTER*/
.footer{
    background-image: linear-gradient(to right bottom, #051937, #071531, #08112b, #070b25, #05051f);
  }
 
  .footer h4{
      color: yellow;
      text-transform: uppercase;
  }
 
  .footer h6,p{
      color: white;
  }
 
  .footer .hr_border{
      border-top: 2px solid yellow;
  }
 
  .social_icon {
    list-style: none;
  }
 
  .social_icon li {
    margin: 0 10px;
  }
 
  .social_icon a {
      text-align: center;
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
  }
 
  .social_icon a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color 0.4s ease;
  }
 
  .social_icon a:hover i {
    color:yellow;
  }
 /*CSS FOR FOOTER END*/
