*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.form_container{
    width:100%;
    height: 100vh;
    display:flex;
    align-items:center;
}
form {
    width:35%;
    margin: auto;
    border: 1px solid transparent;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px #17406c;
    background-image: linear-gradient(to left top, #29075e, #10114e, #04113a, #050c25, #01040d);
}
/* form:hover{
    box-shadow: 0 0 20px #17406c;
} */
h2 {
    padding: 5px;
    color: white;
    border-radius: 10px;
}

.btn {
    width: 100%;
    display: block;
    color: #04113a;
    background-color:#08D1E3;
    font-weight:bold;
    font-size:20px;
    border-radius:20px;
}
.btn:hover{
    box-shadow: 0 5px 30px gray;
}
a{
    text-decoration:none;
    color:white
}
a:hover{
    text-decoration:none;
    color:#08D1E3;
}
h6{
    color:#08D1E3;
}
input{
    color:white!important;
    background-color:transparent!important;
    border: 1px solid #08D1E3!important;
}
::placeholder {
    color: rgba(255,255,255,.8)!important;   
}